.container-1 {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.5s linear;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 520px;
}

.swiper-slide .number {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5),
    -5px px 4px rgba(255, 255, 255, 0.5);
  font-size: 50px;
  font-weight: 900;
}