@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #2c2e3c;
}

.left{
	width: 50%;
	min-height: 50px;
	float: left;
	border-right: gray solid 1px;
}
.right{
	width: 50%;
	min-height: 50px;
	float: left;
}
.logo{
	width: 50px;
	height: 50px;
}
.icon-top{
	text-align: right;
}


.icon-top i{
	font-size: 40px;
	color: gainsboro;
	line-height: 50px;
	padding: 0 5px;
}
.icon-top i:hover{
	color: #08430a;
	transition: 0.4s;
}
/* TOP -----------------------------------*/

.nav{
	width: 100%;
	height: 50px;
	background-color: #545454;
	float: left;
}
.menu{
	width: 250px;
	text-align: center;
	margin: 0 auto;

}
.single-menu{
	width: 50px;
	height: 50px;
	float: left;
	font-size: 15px;
}
.single-menu a{
	color: white !important;
}
.single-menu i:hover{
	color: #08430a;
	transition: 0.4s;
}
.hide-icon-menu {
	display: none;
} 
.icon-menu:hover + .hide-icon-menu {
	display: block;
	color:gainsboro;
	transition: 0.4s;
}
/* NAV -----------------------------------*/
.footer{
	width: 100%;
	height: 60px;
	background-color:#262626;
}

.about-left, .about-right{
	  width: 100%;
	  min-height: 20px;
	  float: left;
}

.name-page{
	width: 100%;
}
.name-page h1{
	font-size: 80px;
	text-align: center;
	font-weight: bold;
	opacity: 0.5;
	color: #37393d;
}
.name-page p{
	color: #fff;
	font-size: 30px;
	text-align: center;
	padding: 4%;
}
span{
	text-align: center;
	font-weight: bold;
	opacity: 0.5;
	color: #62c54f;
}

.quarter{
	width: 44%;
	min-height: 50px;
	float: left;
	background-color:#444;
	border-radius: 10%;
	margin: 2%;
	margin-left: 4%;
	padding-bottom: 3%;
}
.about-box{
	width: 94%;
	height: 45%;
	min-height: 50px;
	background-color: #444;
	border-radius: 10%;
	padding-left: 5%;
}

.about-box-1{
	width: 25%;
	float: left;
}
.about-box-1 i{
	font-size: 50px;
	color: #5ac24e;
	padding-top: 30%;
}
.about-box p{
	color: #fff;
	font-size: 18px;
	text-align: left;
	padding-left: 40%;
	padding-top: 12%;
}
/* ABOUT -----------------------------------*/


.line{
	border: #47494c 1px solid;
	width: 100%;
	height: 1%;
	margin: 8% auto 0 auto;
}
.percent-box{
	width: 90%;
	margin: 0 auto;
}
.space{
	width: 100%;
	height: 5px;
}

.Communication1{
	width: 90%;
	height: 4px;
	background-color: #5ac24e;
	float: left;
}
.Communication2{
	width: 10%;
	height: 4px;
	background-color: #4a4c4f;
	float: left;
}
.TeamWork1{
	width: 80%;
	height: 4px;
	background-color: #5ac24e;
	float: left;

}
.TeamWork2{
	width: 20%;
	height: 4px;
	background-color: #4a4c4f;
	float: left;
}
.Leadership1{
	width: 50%;
	height: 4px;
	background-color: #5ac24e;
	float: left;

}
.Leadership2{
	width: 50%;
	height: 4px;
	background-color: #4a4c4f;
	float: left;
}
.Language1{
	width: 60%;
	height: 4px;
	background-color: #5ac24e;
	float: left;

}
.Language2{
	width: 40%;
	height: 4px;
	background-color: #4a4c4f;
	float: left;
}
h2{
	font-size: 18px;
	color: aliceblue;
	padding: 5% 0 0 5%;
}
h3{
	font-size: 16px;
	color: #fff;
	padding: 5% 0 0 5%;
}
h4{
	font-size: 12px;
	font-weight: bolder;
	color: #a9a9a9;
	padding: 5% 0 0 5%;
	padding-left: 10%;
}
/* RESUME -----------------------------------*/

.aboutme{
	margin: 0 auto;
}
.aboutme ul li{
	text-align: center;
}
.aboutme ul li a{
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	color: aliceblue;
	padding: 0 5px 0 5px;
}
.aboutme ul li a:hover{
	color: #5ac24e;
}
.about-boxblog{
	width: 95%;
	height: auto;
	border-radius: 2%;
	margin: 3%;
}
.about-boxblog-img{
	width: 100%;
	height: auto;
	background-color: #78a09e;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
}
.about-boxblog-img img{
	width: 100%;
	height: auto;
}
.about-boxblog-p{
	width: 100%;
	height: 70px;
	text-align: center;
}
.about-boxblog-p p{
	padding-top: 2%;
	color: #fff;
}

/* Circle */
.circle .about-boxblog-img {
	position: relative;
}
.circle .about-boxblog-img::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.circle .about-boxblog-img:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
/* Circle END */

.photoslider{
	width: 80%;
	height: 40%;
	margin: 0 auto;
}
.carousel-item{
	height: 40%;
}
.carousel-item img{
	height: auto;
}

.photo-box{
	width: 96%;
	margin: 2%;
}
.video-play{
	position: relative;
	width: 70%;
	padding-bottom: 50%;
	height: 0;
	margin: 0 auto;
}
.video-play iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.index-font{
	font-size: 80px;
	font-weight: bold;
}
.index-font-1{
	font-size: 30px;
}
.pt-100{
	padding-top: 100px;
}
.index-icon{
	color: white;
	font-size: 50px;
}
label{
	color: white;
}



